openapi: 3.0.3
info:
  contact:
    email: developers@cryptoapis.io
    name: Crypto APIs Team
    url: https://cryptoapis.io
  description: "Crypto APIs is a complex and innovative infrastructure layer that\
    \ radically simplifies the development of any Blockchain and Crypto related applications.\
    \ Organized around REST, Crypto APIs can assist both novice Bitcoin/Ethereum enthusiasts\
    \ and crypto experts with the development of their blockchain applications. Crypto\
    \ APIs provides unified endpoints and data, raw data, automatic tokens and coins\
    \ forwardings, callback functionalities, and much more."
  license:
    name: MIT
    url: http://www.opensource.org/licenses/mit-license.php
  termsOfService: https://cryptoapis.io/terms-conditions/
  title: CryptoAPIs
  version: 2021-03-20
servers:
- description: REST API
  url: https://rest.cryptoapis.io
security:
- ApiKey: []
tags:
- description: "## Introduction\r\n\r\nCrypto APIs is a set of blockchain- and crypto-related\
    \ products which can help you reduce your development and infrastructure costs.\
    \ It's an infrastructure layer which significantly reduces your go-to market time.\r\
    \n\r\n- **Wallet as a Service** - a DIgital Wallet that incorporates the best\
    \ features, security and authorization processes existing today. MPC-based, utilizing\
    \ TSS and Distributed Key Generation, backed up by a 3rd Party Escrow. Allocated\
    \ on multi-distributed nodes, Crypto APIs Wallet as a Service can offer customers\
    \ both server and mobile nodes. Multiple security methods provide regular monitoring,\
    \ audits and system checks. Webhooks functionality embedded along with whitelisting,\
    \ governance layer, quorum modification (M/N nodes), and more.\r\n\r\n- **Node\
    \ as a Service** - powerful shared and dedicated nodes from Crypto APIs. Choose\
    \ from Shared, Dedicated or Self-Managed Nodes to use to amplify your blockchain\
    \ and crypto projects. \r\n\r\n- **Blockchain Data** - by integrating it once\
    \ you can retrieve the most important data for the most common blockchains. Get\
    \ results for each supported blockchain protocol by changing only a single parameter.\
    \ Get both historical and real-time data, which can be unified, raw, read-only\
    \ or segmented. Quick response time of 25 ms is guaranteed by the scalable- and\
    \ load-balanced database where all data is synced and indexed. You can retrieve\
    \ information on blockchain data such as Blocks, Addresses, HD Wallets (xPub,\
    \ yPub, zPub), Balances, Unconfirmed Transactions, Confirmed Transactions Uncles,\
    \ Epochs, Tokens, Smart Contracts, Internal Transactions, Mempool, Fees, and more.\r\
    \n\r\n- **Blockchain Events** - works on the principle of the Webhook. You can\
    \ subscribe for certain events and get a callback notification every time they\
    \ occur.  There is no need of hosting or maintaining any node and the average\
    \ delivery time is estimated at 100 ms. Considered Events could include: a new\
    \ block that has been mined, new unconfirmed and mined transactions, a certain\
    \ number of confirmations (blocks) for a new transaction, and more.\r\n\r\n- **Blockchain\
    \ Automations** -  by subscribing for a certain automation based on a certain\
    \ event you can get a callback when it’s completed. Blockchain Automations don’\
    t require taking care of hot (temporary) addresses. Moreover, you can generate\
    \ as many addresses as preferred and then assign them to your users, where all\
    \ received funds will be automatically moved to your secure wallet (warm/cold).\
    \ Such Automations could automatically move received tokens and/or funds to another\
    \ wallet.\r\n\r\n- **Blockchain Tools** - a collection of useful API endpoints\
    \ that provide an easy way to connect with blockchains and perform certain operations.\
    \ The REST API endpoints reduce development time and save costs for servers. These\
    \ Blockchain tools include endpoints for checking the validity of an address,\
    \ deriving HD (xPub, yPub, zPub) addresses, receiving and changing them, broadcast\
    \ signed transactions and more.\r\n\r\n- **Crypto Market Data** - retrieve real-time\
    \ and up to 5 years of historical crypto market data exchange rates. All in one\
    \ place, coins and exchanges information.\r\n\r\nCrypto APIs offers different\
    \ pricing plans to fit your specific needs. To see Crypto APIs' available subscription\
    \ plans, please visit our [dedicated website page]( https://cryptoapis.io/pricing).\r\
    \n\r\nYou can download our OpenAPI 3.0 Specification as the latest JSON from [here](https://developers.cryptoapis.io/download-latest-json).\r\
    \n\r\n{warning}This documentation and all API References apply **only** to Crypto\
    \ APIs.{/warning}"
  name: Overview‌
- description: "## Choose SDK\r\n\r\nCrypto APIs Technical Documentation has included\
    \ vast and detailed information regarding the use of its API services. Additionally,\
    \ we have prepared various SDKs to help you get quickly started.\r\n\r\nYou can\
    \ pick one of our current SDK’s [here](https://developers.cryptoapis.io/sdkslibraries).\r\
    \n\r\n\r\n## Create an account\r\nTo get started with Crypto APIs services the\
    \ first thing you need to do is create your account at https://my.cryptoapis.io/login.\
    \ By creating an account you get access to a personalized Crypto APIs Dashboard,\
    \ where you can monitor and control your API keys, requests, credits, tokens,\
    \ exchange accounts, and more. \r\n\r\nYou can create your Crypto APIs account\
    \ manually by adding information to the required fields, or simply use the Social\
    \ Login provided for Google, GitHub and LinkedIn.\r\n\r\n{note}Please use a valid\
    \ email address you have access to, in order to be able to receive messages from\
    \ Crypto APIs needed for user authentication, registration completion and API\
    \ use.{/note}\r\n\r\n{note}Users can also invite Team members by adding their\
    \ email addresses. Email addresses that already exist as users type \"Owner\"\
    \ cannot be invited as Team members.{/note}\r\n\r\n\r\n## The Dashboard\r\nOnce\
    \ you create an account, you get access to a personalized Crypto APIs [Dashboard](https://my.cryptoapis.io/).\
    \ Through the dashboard is where you can choose and subscribe to a Crypto APIs\
    \ blockchain product - Blockchain Data, Blockchain Events, Blockchain Tools, Blockchain\
    \ Automations, or Crypto Market Data APIs.\r\n\r\nFrom the Dashboard you can:\r\
    \n\r\n- create and manage API keys - for authorization of the API; \r\n- create\
    \ and manage callback URLs - set URLs for response;\r\n- monitor successful and\
    \ failed requests, credits, callbacks; \r\n- manage webhooks and tokens;\r\n-\
    \ create and manage exchange accounts, etc.\r\n\r\nThe Crypto APIs Technical and\
    \ Best use Documentation is public and available to everyone. Still, support levels\
    \ for a Crypto APIs product vary depending on your subscription.\r\n\r\n## Authenticate\
    \ requests\r\n\r\nTo use and make calls to any Crypto APIs product, you must create\
    \ an API key, in order for your requests to be authenticated.\r\n\r\nAn API key\
    \ is a code unique to the user who generated it. It is used to identify the call\
    \ to the specific API and track the access to it and its usage. You can generate\
    \ your API key from within the Crypto APIs [dashboard](https://my.cryptoapis.io/api-keys)\
    \ by clicking on the “Create new API key” button. You can generate more than one\
    \ API key and use a single API key more than once. \r\n\r\nFor more information\
    \ on Authenticating requests, please see [“Authentication”](https://developers.cryptoapis.io/technical-documentation/general-information/authentication)\
    \ section."
  name: Getting Started
- description: "## Create API key\r\n\r\nAPI keys are required as an authentication\
    \ method with Crypto APIs products. By using an API key you authenticate access\
    \ to the specific API. Without authentication access to the API is denied. \r\n\
    \r\nYou can generate and manage API keys from within the Crypto APIs Dashboard\
    \ [here](https://my.cryptoapis.io/api-keys). By clicking on “Create new API key”\
    \ you can enter a name and the system will generate a unique for your user key\
    \ for API authentication. Multiple keys can be generated. Old API keys, that you\
    \ no longer want to use, can be disabled from the same location.\r\n\r\n## Use\
    \ API key\r\n\r\nAPI keys are required for the authentication of the calling program\
    \ to the API. All Crypto APIs keys use the same base URL \"https://rest.cryptoapis.io\"\
    . They can be used in test environments such as: Development, QA, and main Production\
    \ environments.\r\n\r\nWe do not recommend using the same API key for more than\
    \ one environment. We do recommend to use a single key for one specific environment\
    \ - Testing, Production, etc. The API key is sensitive private information that\
    \ we strongly advise to have and keep restricted access to it.\r\n\r\nContent-Type:\
    \ application/json\r\nX-API-Key: my-api-key\r\n\r\n{warning}It's important to\
    \ secure your API Key against public access. The custom header option is strongly\
    \ recommended for a production environment.{/warning}\r\n\r\n\r\n## API Credential\
    \ Usage - Credits\r\n\r\nMost plans include a daily limit or “hard stop” to the\
    \ number of data calls that can be made and the results provided by Crypto APIs.\
    \ This limit is directly tied to your API Key usage and number of credits purchased.\
    \ Your daily credits will be reloaded at 0:00 AM UTC.\r\n\r\nThe daily credit\
    \ limit is tracked based on API data calls and results provided with your key.\
    \ Each credit is accounted for and incremented 1:1, with the exception of:\r\n\
    \r\n1. Error responses are not included in this monthly limit;\r\n2. Paginated\
    \ Endpoints: List based endpoints. Credit allocation per API credentials is done\
    \ for every 50 data results returned, always rounded-up.\r\n3. Bundled/Batched\
    \ API calls: Credit allocation per API credentials is done for every 50 data results\
    \ returned, always rounded-up.\r\n\r\nThis is directly related to the API call\
    \ Rate Limiting which is applied to all Crypto APIs. For more information on API\
    \ limiting and other ways we limit data from our API, please see [“Data Flow Limiting”\
    ](https://developers.cryptoapis.io/technical-documentation/general-information/data-flow-limiting)\
    \ section."
  name: Authentication
- description: "## Supported Protocols and Networks\r\n\r\n| Blockchain protocol |\
    \ Network |\r\n| :---: | :---: |\r\n| Bitcoin | Mainnet, Testnet |\r\n| Ethereum\
    \ | Mainnet, Goerli |\r\n| Tron | Mainnet, Testnet |\r\n| XRP | Mainnet, Testnet\
    \ |\r\n| Litecoin | Mainnet, Testnet |\r\n| Bitcoin Cash | Mainnet, Testnet |\r\
    \n| Dash | Mainnet, Testnet |\r\n| Doge | Mainnet, Testnet |\r\n| Ethereum Classic\
    \ | Mainnet, Mordor |\r\n| Zilliqa | Mainnet |\r\n| BNB Smart Chain | Testnet\
    \ |\r\n| Zcash | Mainnet, Testnet |\r\n\r\n\r\n\r\n## Supported Blockchain Tokens\
    \ and Layers\r\n\r\nWe support all token standards: **Omni layer**, **ERC-20**\
    \ and **ERC-721**. All tokens, based on these, are also supported by Crypto APIs.\
    \ Since the list is too long and new tokens emerge every day, we cannot include\
    \ it here. Nevertheless, you can view some of the most famous tokens on our [website](https://cryptoapis.io/).\r\
    \n\r\n\r\n## Supported Omni Layer transaction types\r\n\r\nWe support the following\
    \ Omni layer transaction types for the providing of Blockchain data:\r\n\r\n1.\
    \ Simple Send\r\n2. DEx Purchase\r\n3. DEx Sell Offer\r\n4. DEx Accept Offer\r\
    \n5. Close Crowdsale\r\n6. Create Property - Fixed\r\n7. Create Property - Variable\r\
    \n8. Send To Owners\r\n9. Crowdsale Purchase\r\n10. Create Property - Manual\r\
    \n11. Grant Property Tokens\r\n12. Revoke Property Tokens\r\n13. Change Issuer\
    \ Address\r\n14. MetaDEx trade\r\n15. Feature Activation\r\n16. ALERT\r\n17. MetaDEx\
    \ cancel-price\r\n18. Send All\r\n19. MetaDEx cancel-ecosystem\r\n20. Enable Freezing\r\
    \n21. Freeze Property Tokens\r\n22. Disable Freezing\r\n23. MetaDEx cancel-pair\r\
    \n24. Unfreeze Property Tokens\r\n\r\n## Blockchain Units and Denominations\r\n\
    \ \r\nEach blockchain protocol has its own native decimal base denomination. The\
    \ following is a reference for how to convert Bitcoin- and Ethereum-based units.\r\
    \n\r\nBitcoin has 8 decimal places and the smallest unit is called a \"Satoshi\"\
    , in honor of the blockchain’s creator, who is known as only Satoshi Nakamoto.\
    \ 1 Satoshi is equal to 0.00000001 Bitcoin.\r\n\r\nEthereum, on the other hand,\
    \ has 18 decimal places with the smallest unit called a “wei”. 1 Wei is 0.000000000000000001\
    \ of the Ether.\r\n\r\n### Bitcoin Denominations\r\n\r\n| Unit | Denomination\
    \ |\r\n| :---: | :---: |\r\n| 1 Bitcoin | = 100 000 000 Satoshi |\r\n| 1 Satoshi\
    \ | = 0.00000001 Bitcoin |\r\n| 1 μBTC (microbitcoin) | = 0.00000100 Bitcoin =\
    \ 100 Satoshi |\r\n| mBTC (millibitcoin) | = 0.00100000 Bitcoin = 100 000 Satoshi\
    \ |\r\n| cBTC (centibitcoin or bitcent) | = 0.01000000 Bitcoin = 1 000 000 Satoshi\
    \ |\r\n| dBTC (decibit or decibitcoin) | = 0.10000000 Bitcoin = 10 000 000 Satoshi\
    \ |\r\n| daBTC (decabit or decabitcoin) | = 10 Bitcoin = 1e9 Satoshi |\r\n\r\n\
    ### Ethereum Denominations\r\n\r\n| Unit | Denomination |\r\n| :---: | :---: |\r\
    \n| 1 Ether | = 1e18 Wei |\r\n| 1 Wei | = 0.000000000000000001 Ether |\r\n| 1\
    \ Kwei (babbage) | = 1000 Wei = 0.000000000000001 Ether |\r\n| 1 Mwei (lovelace)\
    \ | = 1 000 000 Wei = 0.000000000001 Ether |\r\n| 1 Gwei (shannon) | = 1e9 Wei\
    \ = 0.000000001 Ether |\r\n| 1 Twei (szabo) | = 1e12 Wei = 0.000001 Ether |\r\n\
    | 1 Pwei (finney) | = 1e15 Wei = 0.001 Ether |\r\n\r\n## Supported Blockchain\
    \ Exchanges\r\n\r\nCrypto APIs support different blockchain exchanges. The blockchain\
    \ exchange itself is an online platform serving as an intermediary between buyers\
    \ and sellers of cryptocurrency. The following exchanges are supported for Market\
    \ data:\r\n\r\n- Binance\r\n- Coinbasepro\r\n- Kraken\r\n- Okex\r\n- Gemini\r\n\
    - Huobi\r\n- Bitstamp\r\n- Bittrex\r\n- Poloniex\r\n- KuCoin\r\n- Bitfinex\r\n\
    - CoinEx\r\n\r\n\r\n## Supported Fiat Currencies\r\n\r\nAll of the fiat currency\
    \ options use the standard ISO 8601 currency codes (e.g. USD for US Dollar, EUR\
    \ for Euro etc.). Unless otherwise stated, endpoints with fiat currency options\
    \ support these major currency codes:\r\n\r\n| Currency Code | Currency |\r\n\
    | :---: | :--- |\r\n| AED\t| United Arab Emirates Dirham |\r\n| ALL\t| Albanian\
    \ Lek |\r\n| ARY\t| Peso |\r\n| ATS\t| Authorship |\r\n| AUD\t| Australian Dollar\
    \ |\r\n| BAM\t| Convertible Mark |\r\n| BEC\t| Convertible Franc |\r\n| BGN\t\
    | Bulgarian Lev |\r\n| BHD\t| Bahraini Dinar |\r\n| BOB\t| Boliviano |\r\n| BOP\t\
    | Peso Boliviano |\r\n| BRC\t| Cruzado |\r\n| BRE\t| Cruzeiro |\r\n| BRL\t| Brazilian\
    \ Real |\r\n| BSD\t| Bahamian Dollar |\r\n| BUK\t| Burma |\r\n| CAD\t| Canadian\
    \ Dollar |\r\n| CHC\t| WIR Franc |\r\n| CHF\t| Swiss Franc |\r\n| CNX\t| Peoples\
    \ Bank Dollar |\r\n| CNY\t| Yuan Renminbi |\r\n| CRC\t| Costa Rican Colon |\r\n\
    | CYP\t| Cyprus Pound |\r\n| CZK\t| Czech Koruna |\r\n| DEM\t| Deutsche Mark |\r\
    \n| DKK\t| Danish Krone |\r\n| ESP\t| Spanish Peseta |\r\n| ETB\t| Ethiopian Birr\
    \ |\r\n| EUR\t| Euro |\r\n| GBP\t| Pound Sterling |\r\n| GHS\t| Ghana Cedi |\r\
    \n| HKD\t| Hong Kong Dollar |\r\n| HRK\t| Croatian Kuna |\r\n| HUF\t| Forint |\r\
    \n| IDR\t| Rupiah |\r\n| ILS\t| New Israeli Sheqel |\r\n| INR\t| Indian Rupee\
    \ |\r\n| JPY\t| Yen |\r\n| KRW\t| Won |\r\n| LTT\t| Talonas |\r\n| LUC\t| Luxembourg\
    \ Convertible Franc |\r\n| MAD\t| Moroccan Dirham |\r\n| MTL\t| Maltese Lira |\r\
    \n| MUR\t| Mauritius Rupee |\r\n| MVR\t| Rufiyaa |\r\n| MXN\t| Mexican Peso |\r\
    \n| MYR\t| Malaysian Ringgit |\r\n| NGN\t| Naira |\r\n| NIC\t| Cordoba |\r\n|\
    \ NLG\t| Netherlands Guilder |\r\n| NOK\t| Norwegian Krone |\r\n| NZD\t| New Zealand\
    \ Dollar |\r\n| PEN\t| Nuevo Sol |\r\n| PHP\t| Philippine Peso |\r\n| PLN\t| Zloty\
    \ |\r\n| RON\t| New Romanian Leu |\r\n| RUB\t| Russian Ruble |\r\n| RUR\t| Russian\
    \ Ruble |\r\n| SBD\t| Solomon Islands Dollar |\r\n| SDG\t| Sudanese Pound |\r\n\
    | SEK\t| Swedish Krona |\r\n| SGD\t| Singapore Dollar |\r\n| SLL\t| Leone |\r\n\
    | SUR\t| Rouble |\r\n| SVC\t| El Salvador Colon |\r\n| THB\t| Baht |\r\n| TOP\t\
    | Top Coin |\r\n| TRY\t| Turkish Lira |\r\n| TWD\t| New Taiwan Dollar |\r\n| UAH\t\
    | Hryvnia |\r\n| USD\t| US Dollar |\r\n| ZAR\t| Rand |\r\n| XRE\t| Revolver Coin\
    \ |\r\n\r\nAnd additionally these precious metals and bonds are also supported:\r\
    \n\r\n| Code | Unit |\r\n| :---: | :--- |\r\n| XAG\t| Silver |\r\n| XAU\t| Gold\
    \ |\r\n| XBB\t| Bond Markets Monetary Unit |\r\n| XBC\t| Bond Markets Unit of\
    \ Account 9 |\r\n| XPD\t| Petro Dollar |\r\n| XPT\t| Platinum |"
  name: What we support
- description: "## List of errors\r\n\r\nAll requests with a response status code\
    \ different than 200 (successful HTTP) are considered as a failure of the particular\
    \ API call and referred to as “HTTPS errors”. When the response (error) is returned\
    \ an additional JSON is present in the body containing the error message. Depending\
    \ on what has gone wrong with the API call, the error message is different.\r\n\
    \r\nAs best practice we recommend to store all error messages somewhere along\
    \ with request data for further manual review.\r\n\r\nThe errors we use follow\
    \ the HTTP Error Codes Standard. \r\n\r\n| HTTP Status Code | Error it represents\
    \ |\r\n|:---:|:---:|\r\n|3xx | Redirection Error |\r\n|4xx | Client Error |\r\n\
    |5xx | Server Error |\r\n\r\n\r\nThe structure of the error **always** returns\
    \ the following values, as listed and described in the example:\r\n\r\n\r\n_**Example:**_\r\
    \n\r\n```\r\n{\r\n    \"apiVersion\": \"\", // The current API Version.\r\n  \
    \  \"requestId\": \"\", // Each request has a unique ID, for which the Support\
    \ team could ask for when contacted.\r\n    \"context\": \"\", // Optional: In\
    \ case you send this value in your request.\r\n    \"error\": {\r\n        \"\
    code\": \"\", // Error Code, please check our [Errors page](https://developers.cryptoapis.io/technical-documentation/general-information/errors-and-api-statuserrors)\
    \ to see the full list of error codes.\r\n        \"message\": \"\", // Is the\
    \ human readable error message.\r\n        \"details\": \"\" // Optional: Some\
    \ errors may need more details.\r\n    }\r\n}\r\n```\r\n\r\nWe use the following\
    \ error codes:\r\n\r\n\r\n### General errors\r\n\r\n| Type of code | HTTP Status\
    \ Code | Error code | Message |\r\n| :---: | :---: | :---: | :---: |\r\n| Client\
    \ Error | 400 | `uri_not_found` | \"The specified URI has not been found. Check\
    \ the URI and try again.\" |\r\n|  |  | `limit_greater_than_allowed` | \"You have\
    \ reached the allowed limit. The maximum number of items for this endpoint is\
    \ {limit}, please use the specific pagination attributes to get the items in portions.\"\
    \ |\r\n|  |  | `invalid_pagination` | \"The pagination attributes that have been\
    \ used are invalid. Please check the Documentation to see details on pagination.\"\
    \ |\r\n|  | 401 | `missing_api_key` | \"The specific authorization header (API\
    \ Key) is missing, please check our Authorization section in our Documentation.\"\
    \ |\r\n|  |  | `invalid_api_key` | \"The provided API key is invalid. Please,\
    \ generate a new one from your Dashboard.” |\r\n|  | 402 | `insufficient_credits`\
    \ | \"You have insufficient credits. Please upgrade your plan from your Dashboard\
    \ or contact our team via email.\" |\r\n|  | 403 | `https_required` | \"The use\
    \ of HTTP**S** is required.\" |\r\n|  |  | `endpoint_not_allowed_for_plan` | \"\
    This endpoint is not available for your current subscription plan, please upgrade\
    \ your plan to be able to use it.\" |\r\n|  |  | `data_not_allowed_for_plan` |\
    \ \"Your subscription plan includes only {days} days of historical data. Please\
    \ upgrade your plan or contact our team for more information.\" |\r\n|  |  | `banned_ip_address`\
    \ | \"This IP address has been banned. To check the reason for that, please contact\
    \ our team via email.\" |\r\n|  |  | `endpoint_not_allowed_for_api_key` | “This\
    \ endpoint is not available for your API key.” |\r\n|  | 404 | `resource_not_found`\
    \ | \"The specified resource has not been found.\" |\r\n|  | 405 | `request_method_not_supported`\
    \ | \"The specified request method ({method}) is not supported for this endpoint.\
    \ Please check our Documentation and make sure you set the right request method.\"\
    \ |\r\n|  |  | `allowed_methods` | \"The specified method **must** be one of the\
    \ following: {methods}.\" |\r\n|  | 409 | `invalid_query_parameter` | \"The query\
    \ parameter provided is invalid. Please provide a proper query parameter, or refer\
    \ to the documentation for more information.\" |\r\n|  |  | `missing_request_body`\
    \ | \"The required request body is missing, action cannot be performed.\" |\r\n\
    |  |  | `bad_json` | \"The JSON provided is invalid. Please make sure it's valid\
    \ and try again.\" |\r\n|  |  | `invalid_data` | \"The data provided seems to\
    \ be invalid.\" |\r\n|  |  | `already_exists` | \"The specified resource already\
    \ exists.\" |\r\n|  |  | `callback_url_not_verified` | \"The Callback URL has\
    \ not been verified. Please, verify the URL from within your Dashboard and try\
    \ again.\" |\r\n|  |  | `missing_required_attributes` | \"A required parameter\
    \ is missing. Please provide all required parameters, or refer to the documentation\
    \ for more information.\" |\r\n|  |  | `extra_body_attributes` | \"A provided\
    \ body parameter is unknown or not specified. Please provide only specified body\
    \ parameters, or refer to the documentation for more information.\" |\r\n|  |\
    \  | `extra_query_attributes` | \"A provided query parameter is unknown or not\
    \ specified. Please provide only specified query parameters, or refer to the documentation\
    \ for more information.\" |\r\n|  | 415 | `unsupported_media_type` | \"The selected\
    \ Media Type is unavailable. The Content-Type header should be 'application/json'.\"\
    \ |\r\n|  | 429 | `request_limit_reached` | \"The request limit has been reached.\
    \ There can be maximum {requests} requests per {seconds} second(s) made. Please\
    \ contact our team via email if you need more or upgrade your plan.\" |\r\n| Server\
    \ Error | 500 | `technical_issues` | \"We are currently facing some technical\
    \ issues, please try again later.\" |\r\n|  |  | `unexpected_server_error` | \"\
    An unexpected server error has occurred, we are working to fix this. Please try\
    \ again later and in case it occurs again please report it to our team via email.\"\
    \ |\r\n|  | 501 | `unimplemented` | \"This {feature} has not been implemented\
    \ yet.\" |\r\n|  | 503 | `temporary_shutdown_endpoint` | \"This endpoint is temporarily\
    \ stopped due to performance reasons. For more information please contact our\
    \ team via email.\" |\r\n\r\n\r\n### Custom errors:\r\n\r\n| Type of code | HTTP\
    \ Status Code | Error code | Message |\r\n| :---: | :---: | :---: | :---: |\r\n\
    | Client Error | 400 | `invalid_blockchain` | \"The provided blockchain is invalid.\
    \ The blockchain **must** be a supported one. For the full list of supported blockchains\
    \ please see our Documentation.\" |\r\n|  |  | `invalid_network` | \"The provided\
    \ network is invalid. The network **must** be a supported one. For the full list\
    \ of supported networks please see our Documentation.\" |\r\n|  |  | `blockchain_data_invalid_address`\
    \ | \"The provided address is invalid for the mentioned blockchain/network. \"\
    \ |\r\n|  |  | `xpub_not_synced` | \"This xPub is not yet synced, please first\
    \ use the endpoint “Sync HD (xPub, yPub, zPub) wallet” to synchronize it.\" |\r\
    \n|  |  | `waas_contact_group_is_missing` | \"Contact group was not found.\" |\r\
    \n|  |  | `transaction_not_signed` | \"The transaction is not properly signed!\"\
    \ |\r\n|  |  | `invalid_words_count` | \"Invalid words count! Words count MUST\
    \ be one of: {validWordsCount}\" |\r\n|  | 403 | `wallet_as_a_service_contacts_limit_reached`\
    \ | \"You have reached the maximum Contacts count which is currently {waasConstraintsCount}.\
    \ 'Please, upgrade your plan in order to have a higher Contacts count.\" |\r\n\
    |  |  | `tx_lifecycle_tx_already_has_enough_rejects` | \"This transaction request\
    \ already has enough rejections.\" |\r\n|  |  | `tx_lifecycle_user_is_not_rejecter`\
    \ | \"User with ID: {teamMemberId} is not a rejecter for this transaction request.\"\
    \ |\r\n|  |  | `tx_lifecycle_tx_already_rejected_by_this_user` | \"User with ID:\
    \ {teamMemberId} has already rejected this transaction request.\" |\r\n|  |  |\
    \ `tx_lifecycle_tx_already_has_enough_approvals` | \"This transaction request\
    \ already has enough approvals.\" |\r\n|  |  | `tx_lifecycle_user_is_not_approver`\
    \ | \"User with ID: {teamMemberId} is not an approver for this transaction request.\"\
    \ |\r\n|  |  | `tx_lifecycle_tx_already_approved_by_this_user` | \"User with ID:\
    \ {teamMemberId} has already approved this transaction request.\" |\r\n|  |  |\
    \ `wallet_as_a_service_deposit_addresses_limit_reached` | \"You have reached the\
    \ maximum Deposit Addresses count which is currently {depositAddressesCount}.\
    \ Please, upgrade your plan in order to have a higher Deposit Address count.\"\
    \ |\r\n|  |  | `wallet_as_a_service_wallets_limit_reached` | You have reached\
    \ the maximum Wallets count which is currently {walletsCount}. Please, upgrade\
    \ your plan in order to have a higher Wallet count. |\r\n|  |  | `wallet_as_a_service_wallet_recovery_data_already_backed_up`\
    \ | \"Your Wallet has been already backed up and that action cannot be done again.\
    \ For further assistance please contact our team.\" |\r\n|  |  | `blockchain_events_callbacks_limit_reached`\
    \ | \"You have reached the maximum number of active Blockchain Events subscriptions\
    \ which is {callbacks_limit} now. Please upgrade your plan to be get higher number\
    \ of active subscriptions.\" |\r\n|  |  | `action_requests_user_cannot_approve_request`\
    \ | \"User with ID: {userId} cannot approve this action request.\" |\r\n|  | \
    \ |  `action_requests_request_already_approved_by_this_user` | \"User with ID:\
    \ {userId} has already approved this action request.\" |\r\n|  |  | `action_requests_user_cannot_reject_request`\
    \ | \"User with ID: {userId} cannot reject this action request.\" |\r\n|  |  |\
    \ `coins_forwarding_automations_limit_reached` | \"Your current package plan coins\
    \ forwarding automations limit of {automations_limit} reached. Please contact\
    \ us if you need more or upgrade your plan.\" |\r\n|  |  | `tokens_forwarding_automations_limit_reached`\
    \ | \"Your current package plan tokens forwarding automations limit of {automations_limit}\
    \ reached. Please contact us if you need more or upgrade your plan.\" |\r\n| \
    \ | 404 | `blockchain_data_address_not_found` | \"The provided address for this\
    \ blockchain/network has not been found. Please check it and try again.\" |\r\n\
    |  |  | `blockchain_data_block_not_found` | \"The specified block has not been\
    \ found on the specific blockchain.\" |\r\n|  |  | ` blockchain_data_transaction_not_found`\
    \ | \"The specified transaction has not been found on the specific blockchain.\"\
    \ |\r\n|  |  | `order_book_unknown_symbol_id` | \"This symbol ID cannot be found.\
    \ Please check all symbol IDs in our Market Data product.\" |\r\n|  |  | `tokens_forwarding_unknown_from_address`\
    \ | \"From address was not found for your account.\" |\r\n|  | 409 | `blockchain_prepare_transactions_insufficient_funds`\
    \ | \"Insufficient funds or wrong address applied.\" |\r\n|  |  | `wallet_as_a_service_token_not_supported`\
    \ | \"The token is not supported for this blockchain and network. To be supported,\
    \ please contact our team.\" |\r\n|  |  | `wallet_as_a_service_no_deposit_addresses_found`\
    \ | \"Please first create a deposit address for the specific blockchain and network,\
    \ in order to be able to make transactions.\" |\r\n|  |  | `wallet_as_a_service_tokens_not_supported`\
    \ | \"Tokens are not supported for the blockchain specified.\" |\r\n|  |  | `wallet_as_a_service_address_balance_not_enough`\
    \ | \"Your address balance is insufficient to complete the action. Please, deposit\
    \ funds to your address and try again.\" |\r\n|  |  | `wallet_as_a_service_wallet_balance_not_enough`\
    \ | \"Your Wallet balance is insufficient to complete the action. Please, deposit\
    \ funds to your Wallet and try again.\" |\r\n|  | 422 | `sign_transaction_error`\
    \ | \"Transaction could not be signed.\" |\r\n|  |  | `could_not_calculate_rate_for_pair`\
    \ | \"Rate could not be calculated due to not enough pair trades data.\" |\r\n\
    |  |  | `xpub_sync_in_progress` | \"Your wallet (xPub, yPub, zPub) is still syncing,\
    \ it should take few seconds depending on how many transactions it has.\" |\r\n\
    |  |  | `invalid_xpub` | \"The provided Xpub is invalid.\" |"
  name: Errors and API status
- description: "## Data Limiting\r\n\r\nData limiting is much more helpful to the\
    \ APIs operation and user’s experience than it sounds. The purpose of such strategies\
    \ and processes is threefold - to prevent overloading of the API in one way or\
    \ another, to ensure the best possible processing speed and response time, and\
    \ to provide additional security to Crypto APIs products and the fetched data.\
    \ Some data flow limiting is nevertheless subject to variation depending on the\
    \ Crypto APIs product subscription tier you have as a customer. Different subscription\
    \ plans provide different levels of data flow limiting. To see more details on\
    \ Crypto APIs products, please visit our [website](https://cryptoapis.io/). \r\
    \n\r\nCrypto APIs uses the following methods and strategies of limiting data flow:\r\
    \n\r\n### Rate Limiting\r\n\r\nAPI call Rate Limits are an essential part of Internet\
    \ security designed to prevent DoS attacks, the overwhelming of an API, and the\
    \ decreasing of its business value. What the process does is to basically limit\
    \ the API calls sent simultaneously with your API key from a single source, as\
    \ unlimited such could compromise both the performance and security of the API\
    \ in question. API limiting also assists in boosting the API’s scalability which\
    \ prevents lags during traffic spikes.\r\n\r\nFor these and more reasons Crypto\
    \ APIs professional service is subject to API call Rate Limits. All such limits,\
    \ applied to you and your use, are based on your chosen subscription plan tier.\
    \ If you are interested in increasing your Rate limits, you can always [reach\
    \ out to our team](https://cryptoapis.io/contacts) and set up a custom subscription.\r\
    \n\r\nIn the case you exceed the aforementioned limits, your requests will return\
    \ an HTTPS Status Code 429.\r\n\r\nThe Rate Limits are tracked and calculated\
    \ on the basis of calls per day, per hour, per minute and per second in correspondence\
    \ to available credits. \r\n\r\n### Daily credits\r\n\r\nCrypto APIs provides\
    \ a specific amount of daily credits for the different subscription tiers of its\
    \ product. The higher level the subscription, the more daily credits it provides.\
    \ Your daily credits are accounted for 24 hours from the initial call made to\
    \ our API-Gateway.\r\n\r\nDaily credits allow you to actually make an API call.\
    \ This is the limit of calls you can make for 24 hours. One credit doesn’t necessarily\
    \ mean one request though. You can see the amount of credits charged for every\
    \ single endpoint by navigating to our [Documentation](https://developers.cryptoapis.io/technical-documentation/general-information/overview),\
    \ opening the endpoint in question and scrolling to the bottom of the page.\r\n\
    \r\nThere are two charge types: \"Request\" and \"List\", where the latter is\
    \ only for endpoints that can list multiple results and have pagination applied.\r\
    \n\r\n1. The \"Request\" type charges a specific amount of credits per a single\
    \ request. For different endpoints this could be a different amount, but most\
    \ often it is 1 credit per 1 request. \r\n2. The \"List\" type charges a certain\
    \ amount of credits per a specific count of results. Depending on the specific\
    \ List endpoint this could vary, e.g. a more complex List endpoint could charge\
    \ \"2 credits per every 5 results\".\r\n\r\n\r\n### Enabled features\r\n\r\nAnother\
    \ way we limit data flow are the features each subscription tier holds. Crypto\
    \ APIs offers a variety of blockchain-related API products where each higher subscription\
    \ tier provides more and better features for your preferences in retrieving blockchain\
    \ and cryptocurrency data. \r\n\r\nTo see our prefixed subscription and pricing\
    \ list with products, please see our [website](https://cryptoapis.io/pricing).\
    \ If you feel like you can work better with a custom plan, simply contact [our\
    \ team](https://cryptoapis.io/contacts) and we’ll discuss the possibilities we\
    \ can offer you.\r\n\r\n### Pagination\r\n\r\n#### Using Pagination\r\n\r\nWhen\
    \ making calls to the Crypto APIs, a large number of results can be expected in\
    \ the response. Blockchains consist of hundreds of thousands of data blocks at\
    \ the least, containing hashed information on transactions which can add up to\
    \ hundreds and more pages of information when called. To ensure the normal flow\
    \ and structure of the results of the API response and optimize our efficiency,\
    \ we paginate our results. Paginated results are returned usually to a GET request.\
    \ \r\n\r\n\r\n_**Example:**_\r\n\r\n```\r\n{\r\n    \"apiVersion\": \"2.0\",\r\
    \n    \"requestId\": \"xxxxxxxxxxxx\",\r\n    \"data\": {\r\n        \"offset\"\
    : 0,\r\n        \"limit\": 50,\r\n        \"total\": 2,\r\n        \"items\":\
    \ [\r\n            {\r\n              //item 1\r\n            },\r\n         \
    \   {\r\n              //item 2\r\n            }\r\n        ]\r\n    }\r\n}\r\n\
    \r\n```\r\n\r\nTo avoid requests that may potentially crash the system or result\
    \ in an error, we have set up a default limit on results with the value `limit`:\
    \ 50. This means that regardless of the value of the property `total` in the response,\
    \ by default only 50 can be displayed at a time. The default value of the `limit`\
    \ property is set to \"50\", but can vary or be modified depending on the specific\
    \ List endpoint.\r\n\r\nTo see how many items in total your request can return\
    \ in general, see the value `total`. Depending on that number (if it is higher\
    \ than the default `offset`: 50) and your preferences, you can send another request\
    \ to fetch the next segment of the results again displayed within the default\
    \ 50 items per page limit.\r\n\r\n\r\n#### How do I know whether a certain endpoint\
    \ uses pagination?\r\n\r\nThe process of pagination requires a request that would\
    \ return a response of multiple items, or a list. When information is listed then\
    \ It requires sorting and limiting of display. \r\n\r\nEndpoints that request\
    \ information on a specific item - address, transaction, block, etc., will return\
    \ a single count of the requested item, along with its respected details, which\
    \ are the goal of the request. \r\n\r\n_**Example:**_\r\n\r\nThis is a response\
    \ example for a request to GET address details. The value `item` being in the\
    \ singular form, due to the request fetching information on one item, indicates\
    \ there is no pagination for the specific endpoint.\r\n\r\n```\r\n{\r\n    \"\
    apiVersion\": \"2.0\",\r\n    \"requestId\": \"xxxxxxxxxxxx\",\r\n    \"address\"\
    : \"xxxxxxxxxxxx\",\r\n    \"data\": {\r\n        \"limit\": 0,\r\n        \"\
    offset\": 50,\r\n        \"total\": 1,\r\n        \"item\": [\r\n            {\r\
    \n              //address details\r\n            }\r\n        ]\r\n    }\r\n}\r\
    \n\r\n```\r\n\r\n_**Example:**_\r\n\r\nThe following is a different response example\
    \ for a request to GET a list of addresses by a certain attribute. The value `items`\
    \ is in the plural form, which indicates that the response includes more than\
    \ one count of the requested information, which makes it a list. Ergo, this specific\
    \ endpoint uses pagination.\r\n\r\n```\r\n{\r\n    \"apiVersion\": \"2.0\",\r\n\
    \    \"requestId\": \"xxxxxxxxxxxx\",\r\n    \"data\": {\r\n        \"limit\"\
    : 0,\r\n        \"offset\": 50,\r\n        \"total\": 1000,\r\n        \"items\"\
    : [\r\n            {\r\n              //address 1\r\n            },\r\n      \
    \      {\r\n              //address 2\r\n            },\r\n\t{\r\n\t …\r\n\t}\r\
    \n        ]\r\n    }\r\n}\r\n\r\n```\r\n\r\n#### How do I see the next page of\
    \ the response?\r\n\r\nCrypto APIs obtains information from the blockchain database,\
    \ therefore a new request has to be made in order to see further items from the\
    \ response. The next response will still be limited to the default pagination\
    \ value `offset`: 50, but you can get the next page by modifying the `limit` value.\r\
    \n\r\n`limit` indicates from which item in the list should the response start\
    \ displaying results. The first paginated response of a request will by default\
    \ start count from 0, i.e. `limit`: 0. By modifying this value you can retrieve\
    \ the next segment of the results again displayed within the default 50 items\
    \ per page limit.\r\n\r\n_**Example:**_\r\n\r\n```\r\n{\r\n    \"apiVersion\"\
    : \"2.0\",\r\n    \"requestId\": \"xxxxxxxxxxxx\",\r\n    \"data\": {\r\n    \
    \    \"limit\": 51,\r\n        \"offset\": 50,\r\n        \"total\": 1000,\r\n\
    \        \"items\": [\r\n            {\r\n              //address 51\r\n     \
    \       },\r\n            {\r\n              //address 52\r\n            },\r\n\
    \t{\r\n\t …\r\n\t}\r\n        ]\r\n    }\r\n}\r\n\r\n```\r\n\r\nTo retrieve every\
    \ segment of the response, in order to view all possible results, you have to\
    \ each time make a new request with a modified `limit`. The default `offset` value\
    \ cannot be modified to be more or less than 50."
  name: Data Flow Limiting
- description: "## Introduction\r\n\r\nThis article will present and describe principles,\
    \ standards and conventions we apply to our APIs and processes. The following\
    \ information may be subject to change and may as well not apply to other software.\r\
    \n\r\nWe use OpenAPI 3 Standard for our Technical Documentation and Endpoints\
    \ description. All Technical Documentation can be found in the [Developer’s Portal](https://developers.cryptoapis.io/technical-documentation).\
    \ Moreover, all Crypto APIs are REST.\r\n\r\n\r\n## URI\r\n\r\n### URI Structure\r\
    \n\r\nThe Crypto APIs and endpoint URIs follow the RFC 3986 specification and\
    \ are divided into three main parts, applicable to all Crypto APIs products (Blockchain\
    \ Events, Blockchain Data, etc.):\r\n\r\n1. The domain and subdomain in the URI\
    \ always display as: **rest.cryptoapis.io**\r\n2. Next is displayed the version\
    \ of the product, e.g. currently it is: **/v2/**\r\n3. Next is displayed the product\
    \ name, where words are separated with spinal-case: **/blockchain-data/**\r\n\r\
    \n_**Example:**_\r\n\r\nrest.cryptoapis.io/v2/blockchain-data/..\r\n\r\nDepending\
    \ on which product is specified, after that the URI’s structure may look different\
    \ in each case. The different Crypto APIs products require different query parameters\
    \ and variables. \r\n\r\nAfter the main URI parts, it is completed with a component\
    \ and after that - parameters.\r\n\r\n_**Example:**_\r\n\r\n../address/${litecoinValidAddress}\r\
    \n\r\n\r\n### URI Naming Standards\r\n\r\nURIs have to follow the naming standards\
    \ as listed below:\r\n\r\n- the URI has to be written in all lower cases, except\
    \ when a specific string requires capital letters;\r\n- the path parameter must\
    \ use spinal-case ( a hyphen - ) to separate words, e.g. **/v2/blockchain-data**;\r\
    \n- the query parameters must use camelCase to differentiate words, e.g. **/v2/blockchain-data/bitcoin/addresses?offset=10&limit=0**;\r\
    \n- the variables must use camelCase to differentiate words, e.g. **/v2/blockchain-data/bitcoin/addresses/${bitcoinValidAddress}**;\r\
    \n- all URLs must be **HTTPS** - secured, using only HTTP is not accepted.\r\n\
    \r\n\r\n### URI Maximum Length\r\n\r\nThe entire URI cannot exceed 2000 characters\
    \ in length including any punctuation marks, e.g. commas, hyphens, question marks,\
    \ pluses or forward slashes.\r\n\r\n\r\n## Request and Response Standards\r\n\r\
    \n### Basic API Request \r\n\r\nMain prerequisites for requests to the Crypto\
    \ APIs include:\r\n\r\n- requests are sent through HTTPS only to the domain **rest.cryptoapis.io**;\r\
    \n- headers must by default incorporate the JSON content type **application/json**;\r\
    \n- all custom for Crypto APIs attributes are indicated in the beginning with\
    \ an `x-`, e.g. `x-attribute`;\r\n- request public attributes must be all camelCase,\
    \ e.g. `\"apiVersion\": 2`, `\"attributeName\": \"attributeValue\"`;\r\n- we enable\
    \ CORS (Cross-Origin Resource Sharing), for which the API responds with an `Access-Control-Allow-Origin:`\
    \ header. **Nevertheless**, your users **shouldn’t make** direct API requests\
    \ from a web application that you are building, as our CORS policy may change\
    \ at some point without warning and any such requests could be then rejected;\r\
    \n- no random unspecified keys can be added to the Crypto APIs URI, e.g. `?randomKey=randomUnspecifiedValue`,\
    \ as that will result in a 400 error;\r\n- all requests to the Crypto APIs **must**\
    \ be authenticated with an API key. Clients can generate API keys through their\
    \ dedicated [Dashboards](https://my.cryptoapis.io/api-keys) only after product\
    \ subscription. Multiple API keys can be generated for a single user. To see more\
    \ information on Authentication, please see the respective [article](https://developers.cryptoapis.io/technical-documentation/general-information/authentication);\r\
    \n- API keys must be kept secure and private by the users who own them. API keys\
    \ **must not** be uploaded to a frontend of a mobile or web application or in\
    \ any open source code, as API keys represent access to the user’s account and\
    \ the data inside.\r\n\r\n{tip}Best to use one API key for testing and integration\
    \ purposes, and a separate one for production, known to only a limited number\
    \ of people.{/tip}\r\n\r\nShortly put, all Crypto APIs requests include:\r\n\r\
    \n```\r\nREST API Base URL: https://rest.cryptoapis.io\r\nAPI Version: /v2/\r\n\
    Authentication (API Key + JSON)\r\nRequest Type (GET, POST, PUT, PATCH, DELETE)\r\
    \n```\r\n\r\nOur API Requests incorporate the following HTTP methods:\r\n\r\n\
    | HTTP method | Definition |\r\n|:---:|:---:|\r\n| GET | Retrieve a specified\
    \ resource/information from the server. |\r\n| POST | Send data to the server\
    \ and requests to accept it. |\r\n| PUT | Updates a resource. |\r\n| PATCH | Partially\
    \ updates a resource. |\r\n| DELETE | Deletes a resource. |\r\n\r\n**POST** requests\
    \ always contain the following body structure:\r\n\r\n\r\n```\r\n{\r\n\t\"apiVersion\"\
    : \"2.0\", // The current API version.\r\n\t\"context\": \"You can add any text\
    \ here.\", // Optional: In case you send this value in the request.\r\n\t\"data\"\
    : { // Contains the request parameters.\r\n\t\t\"item\": { // Single item’s details.\r\
    \n\t\t\t\"endpointAttribute\": \"value\" // Parameter data.\r\n\t\t}\r\n\t}\r\n\
    }\r\n```\r\n\r\nIf an endpoint has no parameters, the body structure has less\
    \ data:\r\n\r\n```\r\n{\r\n\t\"apiVersion\": \"2.0\", // The current API version.\r\
    \n\t\"context\": \"You can add any text here\", // Optional: In case you send\
    \ this value in the request.\r\n\t\"data\": { // Contains the request parameters.\r\
    \n\t\t\"item\": { } // Single item’s details.\r\n\t}\r\n}\r\n```\r\n\r\n\r\n\r\
    \n### Basic API Response\r\n\r\nResponses to Crypto APIs requests prerequisites:\
    \ \r\n\r\n- response public attributes must be all camelCase, e.g. `”apiVersion”\
    : 2`, `”customAttribute”: \"customAttribute\"`;\r\n- Crypto APIs requests always\
    \ return the following parameters:\r\n\r\n```\r\n{\r\n \"apiVersion\": \"\",\r\
    \n    \"requestId\": \"\",\r\n    \"context\": \"\",\r\n    \"data\": {\r\n  \
    \      \"item\": {\r\n              }\r\n    }\r\n}\r\n```\r\n\r\n- `apiVersion`\
    \ reflects the version of the software used, currently it is V2;\r\n- `requestId`\
    \ is a unique code used with the purposes of tracking, support, etc.;\r\n- the\
    \ attribute `data` always contains the result, no matter of the quantity of items\
    \ in it;\r\n- the attribute `item` specifies the response’s result indicating\
    \ there is only a single one, when listed as `items` it means there are two or\
    \ more results, i.e. a list of results, in the response;\r\n- all calculated prices\
    \ are always in USD currency;\r\n- we use pagination methods to limit the results\
    \ in the response, specifically on responses that can potentially return hundreds\
    \ or thousands of results, please see more information in our [Data Flow Limiting\
    \ section](https://developers.cryptoapis.io/technical-documentation/general-information/data-flow-limiting).\r\
    \n- each response header contains the following keys, which define the user’s\
    \ credit usage, to see more information on credits, please see our [API Credential\
    \ Use section](https://developers.cryptoapis.io/technical-documentation/general-information/authentication#api-credential-usage-credits):\r\
    \n\r\n```\r\n“x-credits-consumed”\r\n“x-credits-available”\r\n“x-response-time”\
    \r\n```\r\n\r\n\r\n### The `context` parameter\r\n\r\nThe `context` parameter\
    \ is an optional attribute created with the idea to facilitate users when they\
    \ make requests in bulk.\r\n\r\nThey can set the `context` attribute as a string\
    \ with simple text of their choosing. Afterwards each returned information will\
    \ contain the specific `context` string of its associated request. Through this\
    \ process users can keep track of the responses that come in.\r\n\r\nFor **GET**\
    \ requests the attribute can be set as a query parameter. For **POST** requests\
    \ it can be set as a query or body parameter. In the latter scenario there’s a\
    \ safety measure embedded in case the user sets `context` as both a query and\
    \ body parameter - the system will then take into account the body `context` attribute.\r\
    \n\r\n\r\n\r\n## Error and HTTP Code Standards\r\n\r\nThe full list of Errors\
    \ you can see on our [respective page](https://developers.cryptoapis.io/technical-documentation/general-information/errors-and-api-status).\
    \ \r\n\r\nThe errors we use follow the HTTP Error Codes Standard. \r\n\r\n| HTTP\
    \ Status Code | Error it represents |\r\n|:---:|:---:|\r\n|3xx | Redirection Error\
    \ |\r\n|4xx | Client Error |\r\n|5xx | Server Error |\r\n\r\n\r\nThe structure\
    \ of the error **always** returns the following values, as listed and described\
    \ in the example:\r\n\r\n\r\n_**Example:**_\r\n\r\n```\r\n{\r\n    \"apiVersion\"\
    : \"\", // The current API Version.\r\n    \"requestId\": \"\", // Each request\
    \ has a unique ID, for which the Support team could ask for when contacted.\r\n\
    \    \"context\": \"\", // Optional: In case you send this value in your request.\r\
    \n    \"error\": {\r\n        \"code\": \"\", // Error Code, please check our\
    \ [Errors page](https://developers.cryptoapis.io/technical-documentation/general-information/errors-and-api-statuserrors)\
    \ to see the full list of error codes.\r\n        \"message\": \"\", // Is the\
    \ human readable error message.\r\n        \"details\": \"\" // Optional: Some\
    \ errors may need more details.\r\n    }\r\n}\r\n```\r\n\r\n\r\n## Date and Time\
    \ Formats\r\n\r\nFor all required endpoints that use a time parameter, the accepted\
    \ value is `timestamp` which is always UTC-based by definition. The human date\
    \ which corresponds to the `timestamp` is always converted by the system to UNIX\
    \ Epoch time and returned as an integer.\r\n\r\n_**Example:**_\r\n\r\nHuman time:\
    \ 09:12:41 AM 28th January 2021\r\n\r\nWhich corresponds to:\r\n\r\nUNIX Epoch\
    \ time: 1611825161\r\n\r\nHence the system will return `”timestamp”: 1611825161`\
    \ and not the human time.\r\n\r\nThe UNIX Epoch time is a system that describes\
    \ a point in time. This would be the amount of time in seconds that have passed\
    \ since the Unix Epoch which was 00:00:00 UTC on 1 January 1970, minus leap seconds."
  name: Standards and Conventions
- description: "## Callbacks and Main Terminology\r\n\r\nLet's first define some main\
    \ vocabulary related to callbacks that will make the process easier to talk about.\r\
    \n\r\n\r\n### Callback\r\n\r\nShortly put, a “callback” is a POST request sent\
    \ from Crypto APIs to a customer’s Callback URL when an event they have already\
    \ subscribed for occurs.\r\n\r\nNow with a bit more detail, a “callback” is used\
    \ to describe an event reaction process where a user receives notifications on\
    \ certain events by having first subscribed to them in the system. The term has\
    \ become interchangeable with the word “webhook”, used to describe the same thing.\
    \ The callback is a way for the system to avoid customers constantly calling the\
    \ Crypto API to check for an update or event they may be expecting. Callbacks\
    \ can be very useful for customers who expect, track or want to be notified about\
    \ the state of transactions on the blockchain.\r\n\r\nThere are two sides of the\
    \ callback - the server side and the customer side. The process follows the customer\
    \ side subscribing for an event on the server side and the server side notifying\
    \ the customer side when that event is completed. \r\n\r\nWith Crypto APIs there\
    \ are endpoints which will lead to callbacks. These include, but are not limited\
    \ to [Blockchain Events](https://cryptoapis.io/products/blockchain-events) and\
    \ [Blockchain Automations](https://cryptoapis.io/products/blockchain-automations).\r\
    \n\r\n\r\n### Callback Events\r\n#### Definition\r\n\r\nSpecific processes are\
    \ considered an “event”. Simply put, an “event” is something that occurs on the\
    \ Blockchain or Crypto Market. Crypto APIs incorporates various endpoints which\
    \ hold different characteristics. You can see endpoints that represent events\
    \ to which users can subscribe for a callback on our [API Reference page](https://developers.cryptoapis.io/technical-documentation).\
    \ Such supported for callback endpoints are displayed with an arrow icon next\
    \ to them to easily view Callback request parameters and response examples.\r\n\
    \r\n#### Types\r\n\r\nThere are a number of different event types. As a Callback\
    \ event the following are considered:\r\n\r\n- New Block;\r\n- New Incoming Transaction;\r\
    \n- New Outgoing Transaction;\r\n- New Confirmation;\r\n- Already Forwarded Coins,\
    \ and more.\r\n\r\n\r\n### Callback URL\r\n\r\nCallbacks require what is known\
    \ as a **”Callback URL”**. It is the destination where Crypto APIs sends the callback\
    \ notification for the event. Setting up this URL is done entirely on the customer’\
    s side and is the first step to setting up a Callback. \r\n\r\n{note}Crypto APIs\
    \ requires the setup and **verification** of a domain to base a Callback URL on\
    \ for security purposes, i.e. proof of access. Crypto APIs **will not** send callbacks\
    \ to unverified domains, websites or URLs.{/note}\r\n\r\nLet’s see the main steps\
    \ the customer needs to take in order to set up their Callback URL:\r\n\r\n1.\
    \ First and foremost, the user must verify a domain they have access to in general.\
    \ This is done in their [Crypto APIs Dashboard](https://my.cryptoapis.io/). The\
    \ customer has to upload a unique code, provided to them by the Crypto APIs Dashboard,\
    \ to the frontend of their website.\r\n\r\n2. Afterwards, the customer can click\
    \ to Verify in the Dashboard. AT that point Crypto APIs will make a request to\
    \ the specified domain name and check for the code. When it is located, Crypto\
    \ APIs verifies the domain. If it is not found in the frontend, the domain will\
    \ not be verified.\r\n\r\nAfter the domain is verified, then the user can set\
    \ a specific URL destination to serve as the Callback URL.\r\n\r\n{warning}Please\
    \ pay attention to the domain you verify. If your Callback URL is going to contain\
    \ a subdomain, please verify the main domain name along with the sub domain.{/warning}\r\
    \n\r\n_**Example:**_\r\n\r\nDomain to verify: **”mypage.mydomain.com”**\r\nCallback\
    \ URL to set: **“mypage.mydomain.com/login/callback”**\r\nCannot use URL: **“\
    mydomain.com/login/callback”**\r\n\r\nDomain to verify: **”mydomain.com”**\r\n\
    Callback URL to set: **“mydomain.com/login/callback”**\r\nCannot use URL: **“\
    mypage.mydomain.com/login/callback”**\r\n\r\n{note}It is most important that the\
    \ user has access to the Callback URL they set, in order for them to be able to\
    \ access/see the callback notification when received.{/note}\r\n\r\n\r\n## Crypto\
    \ APIs Callback basics\r\n\r\nCrypto APIs Callbacks follow certain basics and\
    \ the same standard that applies to all callback subscriptions.\r\n\r\n- Callback\
    \ requests sent from Crypto APIs are **always** POST;\r\n- All Crypto APIs headers\
    \ must by default incorporate the JSON content type **application/json**;\r\n\
    - All Crypto API Callbacks incorporate the use of a Callback URL, without exceptions;\r\
    \n- A customer can subscribe for a callback to as many supported events as they\
    \ want, as many times as needed;\r\n- The callback functionality in Crypto APIs\
    \ is identical throughout every product and endpoint that supports it;\r\n- The\
    \ callback request from Crypto APIs to the customer includes the exact information\
    \ and parameters as requested by the customer when they first set up the subscription,\
    \ which are included in the `data` parameter of the code; \r\n- The attribute\
    \ `x-signature` is a custom for Crypto APIs parameter, as indicated with the `x-`\
    \ in the beginning;\r\n- The structure of the Callback is always the same no matter\
    \ the subscription or type of event.\r\n\r\n\r\n## Callback standard structure\r\
    \n\r\nThe callback structure has the following constant parameters:\r\n\r\n```\r\
    \n{\r\n    \"apiVersion\": \"2.0\", //**Represents the current Crypto APIa version,\
    \ which is v2.**\r\n    \"referenceId\": \"2921e3df-c671-4d20-b51b-d176d5c1e43g\"\
    , //**Represents the unique reference identifier of the callback.**\r\n    \"\
    idempotencyKey\": \"3b3359d0ccdb1d3d3ca8dbaa79cb5395b33c5bc52d782f3ea22904abef45d1j4\"\
    , //**Specifies a unique ID used by Crypto APIs to recognize consecutive requests\
    \ with the same data so that not to perform the same operation twice.**\r\n  \
    \  \"data\": { //**Includes information and details on the callback, dependent\
    \ on the customer’s secret.**\r\n        \"product\": \"BLOCKCHAIN_EVENTS\", //**Specifies\
    \ the product for which the event occurs.**\r\n        \"event\": \"BLOCK_MINED\"\
    , //**Specifies the actual event type, for which the callback subscription was\
    \ made.\r\n        \"item\": { //**Includes all customer-specific details for\
    \ the callback.**\r\n        }\r\n    }\r\n}\r\n```\r\n\r\n\r\n### API Versions\
    \ and `apiVersion`\r\n\r\nThe structure of the callback the customer will receive\
    \ depends on the version of the Crypto API. Currently, we use **v2**. When the\
    \ user sets a subscription for an event while on v2 of the software, the callback\
    \ will be returned according to v2 specifics. \r\n\r\nEach time we update our\
    \ API to a next version, the customer would need to reset their event subscriptions\
    \ so that they correspond to the newest software version currently in use. To\
    \ do that the customer would need to remove the event subscription and set it\
    \ up again. Otherwise, the callback response will be received in the format of\
    \ the older API version it was set up in.\r\n\r\n{warning}This versioning-callback\
    \ dependency **does not** apply to v1 of the Crypto APIs software, only to v2+.{/warning}\r\
    \n\r\n\r\n### Reference ID and `referenceId`\r\n\r\nThe `referenceId` indicates\
    \ a reference to the subscription that has been made by the customer. It is a\
    \ unique code applicable only for that subscription. Each time a customer sets\
    \ up an automation or event subscription, the corresponding callback always has\
    \ a parameter `referenceId`. \r\n\r\n\r\n### Idempotency and `idempotentKey`\r\
    \n\r\nIdempotency represents a process in computing and REST which a server uses\
    \ to recognize subsequent retries of the same request where the returned result\
    \ always remains the same. It is a security mechanism for retrying requests without\
    \ the risk of performing the same operation more than once.\r\n\r\nSuch risks\
    \ usually can occur when an API call is for some reason disrupted during processing\
    \ (e.g. network connection error) and a response is not returned. In such cases\
    \ the API call would be retried. By including an **`idempotencyKey`** in the initial\
    \ request there is guarantee that the specific action won’t be done more than\
    \ once.\r\n\r\nThe `idempotencyKey` is generated only on the server-end in the\
    \ use of Crypto APIs Callbacks. It is added to the Callback request and is unique\
    \ per initial callback request. `idempotencyKey` values are generated randomly.\
    \ \r\n\r\nAll original requests containing an `idempotencyKey`, along with their\
    \ body and response status code (both success and error), are saved by the system.\
    \ After that, any subsequent requests containing the same `idempotencyKey` will\
    \ automatically return the same result. \r\n\r\n\r\n## Setting up callbacks\r\n\
    \r\nCallbacks combine certain elements and steps needed to be able to create a\
    \ correct reaction and on-time notification.\r\n\r\nTheir way of work includes\
    \ the customer to first set up their callback subscription, and later on, whenever\
    \ the subscription event occurs, for the Crypto APIs to notify the customer. All\
    \ steps are taken through API Requests and Responses.\r\n\r\n1. **Customer sets\
    \ up Callback URL** \r\n\r\n The customer must first have a [verified domain and\
    \ set up Callback URL](https://developers.cryptoapis.io/technical-documentation/general-information/callbacks#callback-url).\r\
    \n\r\n2. **Customer subscribes for an event**\r\n\r\n After verifying their domain,\
    \ the customer has to send a request to Crypto APIs in order to subscribe for\
    \ a callback on a certain event. The customer can subscribe to as many events\
    \ they want, as many times as they need.\r\n\r\n When the customer sends their\
    \ request to subscribe for an event the system must return a response. If there\
    \ is no problem, where otherwise an error would result, the response from Crypto\
    \ APIs would be “201 New resource successfully created”. Then it is confirmed\
    \ that the callback subscription for that particular event has been set up.\r\n\
    \r\n If the subscription setup has failed, it will return an error, e.g. **Error\
    \ 409 Conflict**. If an error is returned, there is a mistake or issue with the\
    \ customer’s request. It must be then fixed so that Crypto APIs can return a successful\
    \ response. \r\n\r\n3. **Crypto APIs sends the Callback as a request**\r\n\r\n\
    \ Crypto APIs’ responsibility to the customer is to notify them according to their\
    \ subscription for that particular event or events **only when it/they occur**.\
    \ Whenever the event happens Crypto APIs sends a request back to the customer\
    \ that includes the data on the event, as requested by the customer. This is essentially\
    \ the “callback” itself. If the callback is not confirmed by the customer side\
    \ with a “200 OK” response, the system will follow a specific retry strategy.\r\
    \n\r\nIt is important to also clarify that subscribing for an event and setting\
    \ a callback for it **does not** necessarily mean that the callback will occur\
    \ soon or even at all. We do everything possible to make sure that callbacks have\
    \ no delays, errors, or issues, and are received as the events occur. \r\n\r\n\
    Still, not receiving a callback for a subscribed event for a long time could be\
    \ due to many reasons. There may be events that need to take days, weeks or months\
    \ to occur even just once, and some that may encounter problems, errors, issues,\
    \ and never happen at all.\r\n\r\n{warning}A user will **not receive** a notification,\
    \ an email, a message, a report or any other kind of alert for an event they have\
    \ subscribed for, when the event has not occurred or will not happen at all, regardless\
    \ of how much time has passed since the setup of the callback. Setting up a callback\
    \ ensures the obligation of the system towards the customer to notify them **only\
    \ when** the event happens.{/warning}\r\n\r\n{warning}Users might at times receive\
    \ a notification for a callback event more than once, due to many Workers processing\
    \ those. Make sure you use [idempotency](https://developers.cryptoapis.io/technical-documentation/general-information/callbacks#idempotency-and-codeidempotentkeycode)\
    \ and you can also log processed events only once without processing such that\
    \ are already-logged.{/warning}\r\n\r\n\r\n### Callback Retries\r\n\r\nWhen the\
    \ callback request is sent from Crypto APIs it expects a response from the customer\
    \ side, as well. \r\n\r\nUntil a status code “200 OK Request has been successful”\
    \ is received, Crypto APIs will keep retrying the request. There will be 3 retries\
    \ in total distributed at certain intervals.\r\n\r\n - Crypto APIs will send the\
    \ requested callback when it’s time and a customer response is expected in the\
    \ first 5 seconds;\r\n- If a response isn’t received during that time frame the\
    \ system is prepared to send **in total 3** retries of the callback;\r\n- The\
    \ first callback retry will be send after 30 min;\r\n- After that, each following\
    \ callback will take twice as long to be sent compared to the previous one. This\
    \ is done with the purpose to extend the time during which the customer can at\
    \ all receive the notification and its retries and provide opportunity for the\
    \ customer to send a “200 OK” response;\r\n- Additionally, there’s an included\
    \ **“random value”** into the algorithm as a factor of **”0.2”**, which creates\
    \ small but important fluctuations in the time frames between callback retries.\
    \ This ensures that when large volumes of callbacks are sent they would not be\
    \ in bulk due to having the same time frames, which could otherwise lead to crashes\
    \ and server issues.\r\n\r\n{note}Time frames in the system are measured in seconds,\
    \ e.g. first callback retry will be send after 30 min = 1800 sec.{/note}\r\n\r\
    \n{warning}If after all callback retries from Crypto APIs there is no successful\
    \ response from the customer, the callback will end up in a final error and terminate.\
    \ The system will mark all Blockchain Event subscriptions for the same event type,\
    \ which have the same callback URL and same webhook ID, as \"disabled\".{/warning}\
    \ \r\n\r\n\r\n## Callback Security\r\n\r\nCrypto APIs has incorporated a security\
    \ layer to keep callbacks from being intercepted, duplicated and make sure customers\
    \ are receiving their callbacks only from Crypto APIs.\r\n\r\n\r\n### Customer’\
    s Secret Key\r\n\r\nThe customer’s request can include data on the event they\
    \ want to subscribe for and has the option to also have a `callbackSecretKey`.\
    \ This parameter is an optional security measure for the benefit of the customer.\
    \ The `callbackSecretKey` can only be generated by the customer. It is used to\
    \ create a unique hash string in the `x-signature` response header in the callback\
    \ request sent from  Crypto APIs when the event occurs.\r\n\r\nThe `callbackSecretKey`,\
    \ and thus the `x-signature`, are set up per event subscription, not per single\
    \ callback. Hence the customer only needs to set up the `callbackSecretKey` once\
    \ when subscribing for an event. They can use a single `callbackSecretKey` for\
    \ all subscriptions, or different ones for each subscription. The security is\
    \ effective enough even with just one common `callbackSecretKey`.\r\n\r\n{warning}Please\
    \ note that though using the `callbackSecretKey` is an optional step, we recommend\
    \ it for security purposes! Not using a `callbackSecretKey` means that no security\
    \ layer will be applied to your callbacks.{/warning}\r\n\r\n\r\n### Callback Signature\r\
    \n\r\nIn the case a customer has included a `callbackSecretKey` in their request\
    \ to Crypto APIs, the callback (Crypto APIs' request to the customer) includes\
    \ a specific `x-signature` value which is for verification purposes. It is used\
    \ by the customer to verify the information they receive is in actuality really\
    \ coming from Crypto APIs and not a scam.\r\n\r\nThe `x-signature` is provided\
    \ in the header of the callback and represents a unique hash derived from all\
    \ the information included in the callback about the event (which must be JSON\
    \ encoded) and the customer’s `callbackSecretKey`.\r\n\r\nFor the purpose HMAC_SHA256\
    \ is used. It stands for Hash-based message authentication code and along with\
    \ its cryptographic hash function SHA256 it represents higher security than any\
    \ other authentication code.\r\n\r\nThe cryptographic strength of the HMAC depends\
    \ upon the size of the `callbackSecretKey` that has been used. The most common\
    \ attack against HMACs is brute force to uncover that secret key. HMACs are substantially\
    \ less affected by collisions than their underlying hashing algorithms alone.\r\
    \n\r\nWhen the customer receives the callback request from Crypto APIs, they can\
    \ first check the `x-signature` before processing the request. By using their\
    \ `callbackSecretKey`, which only they would know, together with the information\
    \ from the callback they can generate a hash and compare it to the `x-signature`\
    \ hash that the Crypto APIs server has returned. They **must** match which only\
    \ then would authenticate Crypto APIs as the true sender. \r\n\r\nAfter authentication\
    \ of the callback, the customer can then proceed to processing it. If the authentication\
    \ with the `x-signature` fails, then the customer **must** ignore it as someone\
    \ else is sending it.\r\n\r\n_**Example:**_\r\n\r\nHMAC_SHA256 (`callbackSecretKey`,\
    \ `The quick brown fox jumps over the lazy dog`) = f7bc83f430538424b13298e6aa6fb143ef4d59a14946175997479dbg2d1a3cd8\r\
    \n\r\n`callbackSecretKey` - Represents an optional string the customer can send\
    \ into their request when they create the callback subscription.\r\n`The quick\
    \ brown fox jumps over the lazy dog` - Represents everything we post in the body\
    \ of the server side callback request.\r\n`f7bc83f430538424b13298e6aa6fb143ef4d59a14946175997479dbg2d1a3cd8`\
    \ - Represents the resulting hash sent in the header (value name: `x-signature`)\
    \ of the post request.\r\n\r\n\r\n## Callback data returned for UTXO-based transactions\r\
    \n\r\nCalbacks return more specific information in regards to UTXO-based transactions\
    \ (BTC). This specification applies to the following events:\r\n\r\n- [New unconfirmed\
    \ coins transactions](https://developers.cryptoapis.io/technical-documentation/blockchain-events/create-subscriptions-for/new-unconfirmed-coins-transactions);\r\
    \n- [New confirmed coins transactions](https://developers.cryptoapis.io/technical-documentation/blockchain-events/create-subscriptions-for/new-confirmed-coins-transactions);\r\
    \n- [New confirmed coins transactions and each confirmation](https://developers.cryptoapis.io/technical-documentation/blockchain-events/create-subscriptions-for/new-confirmed-coins-transactions-and-each-confirmation).\r\
    \n\r\nFor:\r\n\r\n- **1 occurrence of the address in the input** - in the callback\
    \ we send the amount and the type is outgoing;\r\n- **1 occurrence of address\
    \ in output** - in the callback we send the amount and the type is incoming;\r\
    \n- **2+ occurrences of address in inputs** - in the callback we send the total\
    \ calculated amount and the type is outgoing;\r\n- **2+ occurrences of address\
    \ in outputs** - in the callback we send the total calculated amount and the type\
    \ is incoming;\r\n- **1 occurrence of address in input AND 1 occurrence of address\
    \ in output** - in the callback we send the amount in the **input** and the type\
    \ is outgoing;\r\n- **2+ occurrences of address in input AND 1 occurrence of address\
    \ in output** - in the callback we send the total calculated amount in the **input**\
    \ and the type is outgoing;\r\n- **1 occurrence of address in input AND 2+ occurrences\
    \ of address in output** - in the callback we send the amount in the **input**\
    \ and the type is outgoing;\r\n- **2+ occurrences of address in input AND 2+ occurrence\
    \ of address in output** - in the callback we send the total calculated amount\
    \ in the **input** and the type is outgoing."
  name: Callbacks
- description: "Using Crypto APIs Blockchain Data Unified Endpoints you can get information\
    \ from all supported blockchain protocols in the same unified way. \r\n\r\nUnified\
    \ endpoints have the same data on the main level and varying attributes depedning\
    \ on the selected Blockchain, e.g. Bitcoin, Etehreum, Litecoin, etc."
  name: Unified Endpoints
- description: "A hierarchical deterministic (HD) wallet is a digital wallet commonly\
    \ used to store the digital keys for holders of cryptocurrencies, e.g. Bitcoin,\
    \ Ethereum, etc. Anyone with a copy of both the public and password-like private\
    \ key can control the cryptocurrency in their account. This also refers to xPub,\
    \ yPub and zPub. Through our HD Wallet endpoints customers can sync HD wallets,\
    \ obtain HD wallet details, list HD wallet transactions, and more."
  name: HD Wallets
- description: "You can use Automatic coins forwarding to automatically forward **coins**\
    \ to your main address. These endpoints apply **only to coins, not tokens**.\r\
    \n\r\nA `feePriority` will be returned which represents the fee priority of the\
    \ automation whether it is \"SLOW\", \"STANDARD\" OR \"FAST\". The higher the\
    \ priority, the higher the fee.\r\n\r\nThe response of this endpoint contains\
    \ an attribute fromAddress which can be used as a deposit address. Any funds received\
    \ by this address will be automatically forwarded to toAddress based on what the\
    \ customer has set for the automation."
  name: Automatic Coins Forwarding
- description: "You can use Automatic coins forwarding to automatically forward **tokens**\
    \ to your main address. These endpoints apply **only to tokens, not coins**. Currently\
    \ we support **only** fungible tokens (ERC-20), NFTs (ERC-721) are **not** supported.\r\
    \n\r\nA `feePriority` will be returned which represents the fee priority of the\
    \ automation whether it is \"SLOW\", \"STANDARD\" OR \"FAST\". The higher the\
    \ priority, the higher the fee.\r\n\r\nThe response of this endpoint contains\
    \ an attribute fromAddress which can be used as a deposit address. Any funds received\
    \ by this address will be automatically forwarded to toAddress based on what the\
    \ customer has set for the automation."
  name: Automatic Tokens Forwarding
- description: "With Crypto APIs and Blockchain Events you can set up subscriptions\
    \ to receive a callback whenever a specific events occurs. Various endpoints are\
    \ available for callback subscription. Callback subscription can be set from the\
    \ Crypto APIs Dashboard. They require a Callback URL where the actual callback\
    \ will be received at.\r\n\r\nCrypto APIs Callbacks will be sent along with a\
    \ retry logic if the first one is not accepted by the customer's end.\r\n\r\n\
    Note, that a Callback will be sent only when the event occurs. In some cases this\
    \ may take a long time, in others it may never even happen. This is not up to\
    \ Crypto APIs.\r\n\r\nIt is important to note that in order to set a valid and\
    \ working Callback subscription, the domain for the Callback URL must be first\
    \ verified.\r\n\r\nTo see more information on Callbacks and how they operate,\
    \ please see our dedicated [documentation](https://developers.cryptoapis.io/technical-documentation/general-information/callbacks)."
  name: Create Subscriptions for
- description: "Manage subscriptions set for event callbacks. These could include\
    \ listing subscriptions set for the user, deleting subscriptions, etc.\r\n\r\n\
    Note, that a Callback will be sent only when the event occurs. In some cases this\
    \ may take a long time, in others it may never even happen. This is not up to\
    \ Crypto APIs.\r\n\r\nIt is important to note that in order to set a valid and\
    \ working Callback subscription, the domain for the Callback URL must be first\
    \ verified.\r\n\r\nTo see more information on Callbacks and how they operate,\
    \ please see our dedicated [documentation](https://developers.cryptoapis.io/technical-documentation/general-information/callbacks)."
  name: Manage Subscriptions
- description: "Crypto APIs useful features and tools for blockchain and crypto operations.\
    \ Users can utilize these endpoints to validate addresses, broadcast transactions\
    \ and more."
  name: Features
- description: "We support ERC-20, ERC-721 standards on Ethereum and Omni Layer on\
    \ Bitcoin. You can see the full list on [our website](https://cryptoapis.io/)."
  name: Tokens
- description: "This section represents only endpoints related to XRP (Ripple) blockchain\
    \ protocol, relating to obtaining information on transactions, addresses and blocks."
  name: XRP (Ripple)
- description: This section represents only endpoints related to Omni Layer  exchanges.
  name: Omni Layer
- description: "Through these endpoints customers can obtain detailed information\
    \ about assets supported by Crypto APIs, bot crypto and fiat. This is part of\
    \ the Market Data product."
  name: Assets
- description: Use these endpoints to obtain information about cryptocurrency and
    blockchain exchange rates. This is part of the Market Data product.
  name: Exchange Rates
- description: "Here customers can list meta information about supported assets, both\
    \ crypto and fiat. This is part of the Market Data product."
  name: Metadata
- description: Here customers can check information about internal transactions.
  name: Internal
- description: This category displays Wallet-as-a-Service endpoints which can be used
    to generate addresses for a Wallet.
  name: Generating
- description: This category displays Wallet-as-a-Service endpoints which can be used
    to create transactions.
  name: Transactions
- description: This category displays Wallet-as-a-Service endpoints which can be used
    to obtain information for the Wallet such as list deposit addresses.
  name: Informative
- description: "This category displays endpoints that can provide users with data\
    \ directly from the Zilliqa blockchain. This can include obtaining transaction\
    \ details per block hash, block height, transaction ID, address. Get data on latest\
    \ mined block and address details."
  name: Zilliqa
- description: "Endpoints in this category tag create a shortcut to obtain information\
    \ from Blockchain data by going through Blockchain Events and the specific Events\
    \ Subscription they take part in. The system makes a check in customers'  Callbacks\
    \ for the details. If the provided attribute is correct and the customer is in\
    \ fact related to the data, further information is obtained from Blockchain data."
  name: Callback Data
- description: "## Crypto APIs API Versioning\r\n\r\nAn additional feature in the\
    \ Crypto APIs system allows us to generate new API versions of our endpoints each\
    \ time backwards-incompatible changes have been made to them. Versions are generally\
    \ titled with a date and \"stable\" versions are marked as such.\r\n\r\nYou can\
    \ try out new features and changes in our newer versions not marked as \"stable\"\
    .\r\n\r\nOur technical documentation lists all available API versions. To view\
    \ a specific one, select it from the drop down menu.\r\n\r\nAll requests use your\
    \ account's API version, unless you override the API version with a header.\r\n\
    \r\nTo set the API version on a specific request, send an `X-API-Version` header.\r\
    \n\r\nAs a precaution, use API versioning to test a new API version before committing\
    \ to an upgrade."
  name: API Versioning
paths:
  /blockchain-tools/{blockchain}/{network}/address/convert:
    post:
      description: Through this endpoint customers will be able to convert addresses
        for the BCH (Bitcoin Cash) protocol from BCH legacy to cash address and vice
        versa.
      operationId: Convert Bitcoin Cash Address
      parameters:
      - description: "Represents the specific blockchain protocol name, e.g. Ethereum,\
          \ Bitcoin, etc."
        example: bitcoin-cash
        explode: false
        in: path
        name: blockchain
        required: true
        schema:
          description: "Represents the specific blockchain protocol name, e.g. Ethereum,\
            \ Bitcoin, etc."
          enum:
          - bitcoin-cash
          example: bitcoin-cash
          type: string
        style: simple
      - description: "Represents the name of the blockchain network used; blockchain\
          \ networks are usually identical as technology and software, but they differ\
          \ in data, e.g. - \"mainnet\" is the live network with actual data while\
          \ networks like \"testnet\", \"ropsten\" are test networks."
        example: testnet
        explode: false
        in: path
        name: network
        required: true
        schema:
          description: "Represents the name of the blockchain network used; blockchain\
            \ networks are usually identical as technology and software, but they\
            \ differ in data, e.g. - \"mainnet\" is the live network with actual data\
            \ while networks like \"testnet\", \"ropsten\" are test networks."
          enum:
          - mainnet
          - testnet
          example: testnet
          type: string
        style: simple
      - description: In batch situations the user can use the context to correlate
          responses with requests. This property is present regardless of whether
          the response was successful or returned as an error. `context` is specified
          by the user.
        example: yourExampleString
        explode: true
        in: query
        name: context
        required: false
        schema:
          example: yourExampleString
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConvertBitcoinCashAddressRB'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConvertBitcoinCashAddressR'
          description: The request has been successful.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Convert_Bitcoin_Cash_Address_400_response'
          description: "400"
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Convert_Bitcoin_Cash_Address_401_response'
          description: "401"
        "402":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Convert_Bitcoin_Cash_Address_402_response'
          description: You have insufficient credits. Please upgrade your plan from
            your Dashboard or contact our team via email.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Convert_Bitcoin_Cash_Address_403_response'
          description: "403"
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Convert_Bitcoin_Cash_Address_409_response'
          description: The data provided seems to be invalid.
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Convert_Bitcoin_Cash_Address_415_response'
          description: The selected Media Type is unavailable. The Content-Type header
            should be 'application/json'.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Convert_Bitcoin_Cash_Address_422_response'
          description: "Your request body for POST requests must have a structure\
            \ of { data: { item: [...properties] } }"
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Convert_Bitcoin_Cash_Address_429_response'
          description: "The request limit has been reached. There can be maximum {requests}\
            \ requests per {seconds} second(s) made. Please contact our team via email\
            \ if you need more or upgrade your plan."
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Convert_Bitcoin_Cash_Address_500_response'
          description: "An unexpected server error has occurred, we are working to\
            \ fix this. Please try again later and in case it occurs again please\
            \ report it to our team via email."
      summary: Convert Bitcoin Cash Address
      tags:
      - Features
      x-cost: 5
      x-charge-count: 1
      x-is-list: false
  /blockchain-data/{blockchain}/{network}/addresses/{address}/balance:
    get:
      description: "Through this endpoint the customer can receive the balance of\
        \ a given address based on confirmed/synced blocks only. In the case where\
        \ there are any incoming or outgoing unconfirmed transactions for the specific\
        \ address, they will not be counted or calculated here. Applies only for coins."
      operationId: Get Address Balance
      parameters:
      - description: "Represents the specific blockchain protocol name, e.g. Ethereum,\
          \ Bitcoin, etc."
        example: ethereum
        explode: false
        in: path
        name: blockchain
        required: true
        schema:
          description: "Represents the specific blockchain protocol name, e.g. Ethereum,\
            \ Bitcoin, etc."
          enum:
          - bitcoin
          - ethereum
          - ethereum-classic
          - binance-smart-chain
          - bitcoin-cash
          - litecoin
          - dash
          - dogecoin
          - xrp
          - tron
          example: ethereum
          type: string
        style: simple
      - description: "Represents the name of the blockchain network used; blockchain\
          \ networks are usually identical as technology and software, but they differ\
          \ in data, e.g. - \"mainnet\" is the live network with actual data while\
          \ networks like \"testnet\", \"ropsten\" are test networks."
        example: goerli
        explode: false
        in: path
        name: network
        required: true
        schema:
          description: "Represents the name of the blockchain network used; blockchain\
            \ networks are usually identical as technology and software, but they\
            \ differ in data, e.g. - \"mainnet\" is the live network with actual data\
            \ while networks like \"testnet\", \"ropsten\" are test networks."
          enum:
          - mainnet
          - testnet
          - mordor
          - nile
          - goerli
          example: goerli
          type: string
        style: simple
      - description: "Represents the public address, which is a compressed and shortened\
          \ form of a public key."
        example: 0x0902a667d6a3f287835e0a4593cae4167384abc6
        explode: false
        in: path
        name: address
        required: true
        schema:
          description: "Represents the public address, which is a compressed and shortened\
            \ form of a public key."
          example: 0x0902a667d6a3f287835e0a4593cae4167384abc6
          type: string
        style: simple
      - description: In batch situations the user can use the context to correlate
          responses with requests. This property is present regardless of whether
          the response was successful or returned as an error. `context` is specified
          by the user.
        example: yourExampleString
        explode: true
        in: query
        name: context
        required: false
        schema:
          example: yourExampleString
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAddressBalanceR'
          description: The request has been successful.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Get_Address_Balance_400_response'
          description: "400"
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Get_Address_Balance_401_response'
          description: "401"
        "402":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Convert_Bitcoin_Cash_Address_402_response'
          description: You have insufficient credits. Please upgrade your plan from
            your Dashboard or contact our team via email.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Get_Address_Balance_403_response'
          description: "403"
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Convert_Bitcoin_Cash_Address_409_response'
          description: The data provided seems to be invalid.
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Convert_Bitcoin_Cash_Address_415_response'
          description: The selected Media Type is unavailable. The Content-Type header
            should be 'application/json'.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Convert_Bitcoin_Cash_Address_422_response'
          description: "Your request body for POST requests must have a structure\
            \ of { data: { item: [...properties] } }"
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Convert_Bitcoin_Cash_Address_429_response'
          description: "The request limit has been reached. There can be maximum {requests}\
            \ requests per {seconds} second(s) made. Please contact our team via email\
            \ if you need more or upgrade your plan."
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Convert_Bitcoin_Cash_Address_500_response'
          description: "An unexpected server error has occurred, we are working to\
            \ fix this. Please try again later and in case it occurs again please\
            \ report it to our team via email."
      summary: Get Address Balance
      tags:
      - Unified Endpoints
      x-cost: 5
      x-charge-count: 1
      x-is-list: false
  /blockchain-data/{blockchain}/{network}/addresses/{address}:
    get:
      description: "Through this endpoint the customer can receive basic information\
        \ about a given address based on confirmed/synced blocks only. In the case\
        \ where there are any incoming or outgoing **unconfirmed** transactions for\
        \ the specific address, they **will not** be counted or calculated here. Applies\
        \ only for coins."
      operationId: Get Address Details
      parameters:
      - description: "Represents the specific blockchain protocol name, e.g. Ethereum,\
          \ Bitcoin, etc."
        example: bitcoin
        explode: false
        in: path
        name: blockchain
        required: true
        schema:
          description: "Represents the specific blockchain protocol name, e.g. Ethereum,\
            \ Bitcoin, etc."
          enum:
          - bitcoin
          - bitcoin-cash
          - litecoin
          - dogecoin
          - dash
          - ethereum
          - ethereum-classic
          - binance-smart-chain
          - zcash
          example: bitcoin
          type: string
        style: simple
      - description: "Represents the name of the blockchain network used; blockchain\
          \ networks are usually identical as technology and software, but they differ\
          \ in data, e.g. - \"mainnet\" is the live network with actual data while\
          \ networks like \"testnet\", \"ropsten\" are test networks."
        example: testnet
        explode: false
        in: path
        name: network
        required: true
        schema:
          description: "Represents the name of the blockchain network used; blockchain\
            \ networks are usually identical as technology and software, but they\
            \ differ in data, e.g. - \"mainnet\" is the live network with actual data\
            \ while networks like \"testnet\", \"ropsten\" are test networks."
          enum:
          - mainnet
          - testnet
          - mordor
          - goerli
          example: testnet
          type: string
        style: simple
      - description: "Represents the public address, which is a compressed and shortened\
          \ form of a public key."
        example: mzYijhgmzZrmuB7wBDazRKirnChKyow4M3
        explode: false
        in: path
        name: address
        required: true
        schema:
          description: "Represents the public address, which is a compressed and shortened\
            \ form of a public key."
          example: mzYijhgmzZrmuB7wBDazRKirnChKyow4M3
          type: string
        style: simple
      - description: In batch situations the user can use the context to correlate
          responses with requests. This property is present regardless of whether
          the response was successful or returned as an error. `context` is specified
          by the user.
        example: yourExampleString
        explode: true
        in: query
        name: context
        required: false
        schema:
          example: yourExampleString
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAddressDetailsR'
          description: The request has been successful.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Get_Address_Details_400_response'
          description: "400"
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Get_Address_Details_401_response'
          description: "401"
        "402":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Convert_Bitcoin_Cash_Address_402_response'
          description: You have insufficient credits. Please upgrade your plan from
            your Dashboard or contact our team via email.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Get_Address_Details_403_response'
          description: "403"
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Convert_Bitcoin_Cash_Address_409_response'
          description: The data provided seems to be invalid.
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Convert_Bitcoin_Cash_Address_415_response'
          description: The selected Media Type is unavailable. The Content-Type header
            should be 'application/json'.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Convert_Bitcoin_Cash_Address_422_response'
          description: "Your request body for POST requests must have a structure\
            \ of { data: { item: [...properties] } }"
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Convert_Bitcoin_Cash_Address_429_response'
          description: "The request limit has been reached. There can be maximum {requests}\
            \ requests per {seconds} second(s) made. Please contact our team via email\
            \ if you need more or upgrade your plan."
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Convert_Bitcoin_Cash_Address_500_response'
          description: "An unexpected server error has occurred, we are working to\
            \ fix this. Please try again later and in case it occurs again please\
            \ report it to our team via email."
      summary: Get Address Details
      tags:
      - Unified Endpoints
      x-cost: 5
      x-charge-count: 1
      x-is-list: false
  /blockchain-data/xrp-specific/{network}/addresses/{address}:
    get:
      description: "Through this endpoint the customer can receive basic information\
        \ about a given XRP address based on confirmed/synced blocks only. In the\
        \ case where there are any incoming or outgoing **unconfirmed** transactions\
        \ for the specific address, they **will not** be counted or calculated here.\r\
        \n\r\nSince XRP is a different blockchain than Bitcoin and Ethereum, it isn't\
        \ unified."
      operationId: Get XRP (Ripple) Address Details
      parameters:
      - description: "Represents the name of the blockchain network used; blockchain\
          \ networks are usually identical as technology and software, but they differ\
          \ in data, e.g. - \"mainnet\" is the live network with actual data while\
          \ networks like \"testnet\",  are test networks."
        example: testnet
        explode: false
        in: path
        name: network
        required: true
        schema:
          description: "Represents the name of the blockchain network used; blockchain\
            \ networks are usually identical as technology and software, but they\
            \ differ in data, e.g. - \"mainnet\" is the live network with actual data\
            \ while networks like \"testnet\",  are test networks."
          enum:
          - mainnet
          - testnet
          example: testnet
          type: string
        style: simple
      - description: "Represents the public address, which is a compressed and shortened\
          \ form of a public key."
        example: rA9bXGJcXvZKaWofrRphdJsBWzhyCfH3z
        explode: false
        in: path
        name: address
        required: true
        schema:
          description: "Represents the public address, which is a compressed and shortened\
            \ form of a public key."
          example: rA9bXGJcXvZKaWofrRphdJsBWzhyCfH3z
          type: string
        style: simple
      - description: In batch situations the user can use the context to correlate
          responses with requests. This property is present regardless of whether
          the response was successful or returned as an error. `context` is specified
          by the user.
        example: yourExampleString
        explode: true
        in: query
        name: context
        required: false
        schema:
          example: yourExampleString
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetXRPRippleAddressDetailsR'
          description: The request has been successful.
        "400":
[...]
